
 h1 {
   font-family: 'Fontdiner Swanky', cursive;
  font-size: 5em;
  text-align: center;
  color: black; 

}

h3{
  font-size: 1.9em; 
  text-align:center;
  margin-left: -15px;
  margin-top: 20px;
}

#grid-container {
  display: flex;
  overflow-x: scroll;
}

body {
  margin: 0px;
  padding: 0px;
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: move 5s linear infinite;
  background-color: #ffffff;
  opacity: 0.7;
}

.circle:nth-child(1) {
  left: 20%;
  top: 20%;
  animation-delay: 1s;
}

.circle:nth-child(2) {
  left: 60%;
  top: 60%;
  animation-delay: 2s;
}

.circle:nth-child(3) {
  left: 80%;
  top: 30%;
  animation-delay: 3s;
}

.circle:nth-child(4) {
  left: 30%;
  top: 70%;
  animation-delay: 4s;
}

.circle:nth-child(5) {
  left: 90%;
  top: 80%;
  animation-delay: 1s;
}

.circle:nth-child(6) {
  left: 10%;
  top: 40%;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
body {
  margin: 0;
  padding: 0;
}

.nyc-health {
  position: absolute;
  top: 30%;
  left: 15px;
  transform: translateY(-50%);
}

.nyc,
.health {
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.5rem;
 
}

.nyc {
  background-color: #160692;
  animation: slide-in-left 1s ease-out forwards;
}

.health {
  background-color: #160692;
  animation: slide-in-right 1s ease-out forwards;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bone{
position:absolute;
margin-left: 615px;
top: 150px;


}

.paw {
  width: 500px;
  height: auto;
  position: absolute;
  top: -170px;
  transform: rotate(-20deg) scale(0.3);
  animation: tilt 4s linear infinite;
}

.paw{
  width: 500px;
  height: auto;
  position: absolute;
  top: -170px;
  transform: rotate(-20deg) scale(0.3);
  animation: tilt 4s linear infinite;
}

.pawtwo{
  width: 3100px;
  position: absolute;
  top: -150px;
  transform: rotate(8deg) scale(0.6);
  animation: tilt-two 4s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(-20deg) scale(0.3);
  }
  50% {
    transform: rotate(20deg) scale(0.3);
  }
  100% {
    transform: rotate(-20deg) scale(0.3);
  }
}

@keyframes tilt-two {
  0% {
    transform: rotate(8deg) scale(0.3);
  }
  50% {
    transform: rotate(-8deg) scale(0.3);
  }
  100% {
    transform: rotate(8deg) scale(0.3);
  }
}




button {
  position: relative;
  font-family: 'Fontdiner Swanky', cursive;
  background-color: rgb(139, 185, 255);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px 10px;
  transition: background-color 0.3s ease;
margin-right: 75px;

}

button:hover {
  background-color: #1317ff;
  box-shadow: 0px 5px 0px #9293e6;
}

button:active {
  background-color: #c66900;
  box-shadow: none;
  transform: translateY(5px);
}

img{
  position:relatve;
}

.image-button-scroll-container {
  width: 100%;
  overflow-x: scroll;
}


.image-button-container {
  display: flex;
  align-items: center;
}

button {
  margin-right: 75px;
}

img {
  flex-shrink: 0;
}


.image-button-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container1 img {
  max-width: 175px;
  max-height: 175px;
}

.image-button-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container2 img {
  max-width: 170px;
  max-height: 170px;
}
.image-button-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container3 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container4 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container5 img {
  max-width: 180px;
  max-height: 180px;
}


.image-button-container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container6 img {
  max-width: 320px;
  max-height: 320px;
}


.image-button-container7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container7 img {
  max-width: 100px;
  max-height: 100px;
}

.image-button-container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container8 img {
  max-width: 120px;
  max-height: 120px;
}

.image-button-container9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container9 img {
  max-width: 200px;
  max-height: 200px;
}

.image-button-container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container10 img {
  max-width: 150px;
  max-height: 150px;
}


.image-button-container11 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container11 img {
  max-width: 175px;
  max-height: 175px;
}

.image-button-container12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container12 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container13 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container13 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container14 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container14 img {
  max-width: 150px;
  max-height: 150px;
}
.image-button-container15 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container15 img {
  max-width: 175px;
  max-height: 175px;
}
.image-button-container16 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container16 img {
  max-width: 150px;
  max-height: 150px;
}

.image-button-container18 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container18 img {
  max-width: 180px;
  max-height: 180px;
}
.image-button-container19 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container19 img {
  max-width: 250px;
  max-height: 250px;
}

.image-button-container20 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container20 img {
  max-width: 150px;
  max-height: 150px;
}
.image-button-container21 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container21 img {
  max-width: 175px;
  max-height: 175px;
}
.image-button-container22 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container22 img {
  max-width: 150px;
  max-height: 150px;
}
.image-button-container23 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container23 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container24 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container24 img {
  max-width: 150px;
  max-height: 150px;
}

.image-button-container25 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container25 img {
  max-width: 100px;
  max-height: 100px;
}
.image-button-container26 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button-container26 img {
  max-width: 100px;
  max-height: 100px;
}


h2{
  position: relative;
margin-left: 10px;
font-family:monospace;
  font-size: 1.5em;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  border-top: 3px solid black;
  margin: 20px 0;

}

body {
  background-color: rgb(134, 179, 248);
  cursor: url("img/bone.png"), auto;
}

p {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 12px;
  color: #000000;
  margin-top: 5px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.animal-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  background-image: url('img/dogback.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 200px;
  margin: 0 auto 20px;
  }
  
  

.animal-item img {
  width: 30%;
  height: 90%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  margin-left: 320px;
  margin-top: -170px;
}


.animal-item h2 {
  font-size: 20px;
  margin: 10px 0 5px 0;
  text-align: left;
}

.animal-item p {
  font-size: 15px;
  margin: 2px;
  text-align: left;
}

.animal-item:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.2em;
    margin-left: 0;
    margin-top: 10px;
  }

  #grid-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .animation-container {
    display: none;
  }

  .nyc-health {
    position: static;
    text-align: center;
    margin-top: 20px;
  }

  .nyc,
  .health {
    display: block;
    font-size: 1.5rem;
    padding: 0.2rem;
  }

  .bone {
    margin-left: 0;
    text-align: center;
  }

  .paw {
    display: none;
  }

  .pawtwo {
    width: 100%;
    max-width: 300px;
    transform: none;
  }

  button {
    font-size: 0.8rem;
    padding: 10px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .image-button-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .image-button-container1 img,
  .image-button-container2 img {
    max-width: 80px;
    max-height: 80px;
  }
}

body {
  cursor: url('img/paw.png'), auto;
}
